
<h1>Search All The Movies</h1>
<div id="searches-container">
  <form method="post" action="/searches">
    <input type="text" name="query" placeholder="The Hobbit"/>
    <input type="submit" value="Find"/>
  </form>

  <!-- imagining loading part of the next page on this here below
  maybe only a couple though
   -->
</div>
