<form method="post" action="/movies/<%= @movie_id %>/reviews/new">
  <input type="text" name="headline" placeholder="#content">
  <input type="textarea" name="body" placeholder="Thinkpiece goes a little something like ...">
  <input type="submit" name="Wordvomit"/>
</form>
